header
{

  margin-bottom: 10%;
  background-color: rgba(0, 0, 0, 0.27);
  height: 10%;
  position: relative;
  z-index: 100;
  border-bottom: 4px solid rgba(255, 255, 255, 0.17);

  & *
  {
    margin: 0;
  }


  &:before
  {
    content: '';
    position: absolute;
    height: 50%;
    z-index: -1;
    width: 100%;
    background-color: rgba(43, 43, 43, 0.62);
  }

}