
@mixin breakpoint($point) {
  @if $point == desktop {
    @media (min-width: 70em) { @content ; }
  }
  @else if $point == laptop {
    @media (min-width: 64em) { @content ; }
  }
  @else if $point == tablet {
    @media (min-width: 50em) { @content ; }
  }
  @else if $point == phablet {
    @media (min-width: 37.5em)  { @content ; }
  }
  @else if $point == mobileonly {
    @media (max-width: 37.5em)  { @content ; }
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  //font-size: 2vmin;
  text-shadow: 1px 1px 2px;
}


.App, #root
{
  height: 80%;
}
html {
  background: #151515;
  color: #fff;
  overflow: hidden;
}

.slider{
  height: 100%;
  //width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

}

.slides {
  display: grid;
  > .slide {
    grid-area: 1 / -1;
}

  > button {
    appearance: none;
    border-radius: 50%;
    border: none;
    color: white;
    position: absolute;
    font-size: 5rem;
    width: 5rem;
    height: 5rem;
    top: 40%;
    transition: opacity 0.3s;
    opacity: 0.7;
    z-index: 5;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: #414142;
    cursor: pointer;
    text-align: center;

    &:hover {
      opacity: 1;
  }

    &:focus {
    // outline: none;
  }

    &:first-child {
      left: 10%;
  }
    &:last-child {
      right: 10%;
  }
}
}

.slideContent {
  width: 400px;
  height: 500px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  transition: transform 0.5s ease-in-out;
  opacity: 0.7;

  display: grid;
  align-content: center;

  transform-style: preserve-3d;
  transform: perspective(1000px) translateX(calc(100% * var(--offset)))
  rotateY(calc(-45deg * var(--dir)));
  @include breakpoint(laptop) {
      width: 600px;
      height: 800px;
  }

}

.slideContentInner {
  transform-style: preserve-3d;
  transform: translateZ(2rem);
  transition: opacity 0.3s linear;
  text-shadow: 0 0.1rem 1rem #000;
  opacity: 0;
  padding: 20px;

  .slideSubtitle,
  .slideTitle {
    font-size: 2rem;
    font-weight: normal;
    letter-spacing: 0.2ch;
    text-transform: uppercase;
    margin: 0;
}
}

.slideBackground {
  position: fixed;
  top: 0;
  left: -10%;
  right: -10%;
  bottom: 0;
  background-size: cover;
  background-position: center center;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s linear, transform 0.3s ease-in-out;
  pointer-events: none;
}

.slide[data-active] {
  z-index: 2;
  pointer-events: auto;

  .slideBackground {
    opacity: 0.2;
    transform: none;
}

  .slideContentInner {
    opacity: 1;
}

  .slideContent {
    --x: calc(var(--px) - 0.5);
    --y: calc(var(--py) - 0.5);
    opacity: 1;

    transform: perspective(1000px);

}
}
